.Sportiv {
    height: 500px;
    background: url('about-bg.jpg');
    background-size: 917px;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
    
}

.Sportiv .Sportiv-info {
    padding-top: 100px;
    width: 50%;
    float: right;
}

.Sportiv .Sportiv-info .info-title {
    font-weight: bold;
    font-size: 50px
}

.Sportiv .Sportiv-info .info-title span {
    font-weight: normal
}

.Sportiv .Sportiv-info .info-dir {
    font-size: 40px;
    color: #eb5424;
    margin-bottom: 20px
}

.Sportiv .Sportiv-info .info-desc {
    color: #000;
    margin-bottom: 15px;
    line-height: 1.8
}

.Sportiv .Sportiv-info .info-desc a {
    text-decoration: none
}

@media (max-width:991px) {
    .Sportiv {
        height: auto
    }
    .Sportiv .Sportiv-info {
        width: 100%;
        padding-top: 10px;
        float: none
    }
    
    .Sportiv .Sportiv-info .info-dir {
        font-size: 30px
    }
}
